/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
}

.container {
    position: absolute;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 305px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin: 0;
    color: hsla(0, 0%, 100%, 0.75);
}

figure {
    margin: 45px 0 0 0;
}

button {
    background-color: hsl(0, 0%, 95%);
    border: 0.5px solid hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    padding: 15px 40px;
    margin: 88px 0 44px 0;
    border-radius: 40px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background: transparent;
    color: hsl(0, 0%, 95%);
}

/* Sedan */

.sedan-column {
    padding: 0px 45px;
    line-height: 25px;
    text-align: left;
    background-color: hsl(31, 77%, 52%);
}

.sedan-title {
    font-size: 20px;
    margin-top: 40px;
}

.sedan-text {
    margin-top: 40px;;
}

.sedan-btn {
    color: hsl(31, 77%, 52%);
} 

/* SUV */

.suv-column {
    padding: 0 45px;
    line-height: 25px;
    text-align: left;
    background-color: hsl(184, 100%, 22%);
}

.suv-title {
    font-size: 20px;
    margin-top: 40px;
}

.suv-text {
    margin-top: 40px;
}

.suv-btn {
    color: hsl(184, 100%, 22%);
} 

/* Luxury */

.luxury-column {
    padding: 0 45px;
    line-height: 25px;
    text-align: left;
    background-color: hsl(179, 100%, 13%);
}

.luxury-title {
    font-size: 20px;
    margin-top: 40px;
}

.luxury-text {
    margin-top: 40px;
}

.luxury-btn {
    color: hsl(179, 100%, 13%);
}

@media only screen and (max-width : 768px) {
    .columns {
        grid-template-columns: 1fr;
        border-radius: 10px;
    }
} 
